@font-face {
    font-family: 'Frijole';
    src: url('/assets/fonts/Frijole.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('/assets/fonts/PressStart2P.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}