@font-face {
    font-family: 'Frijole';
    src: url('/assets/fonts/Frijole.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Digital Arcade';
    src: url('/assets/fonts/DigitalArcade.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stay Pixel';
    src: url('/assets/fonts/StayPixel.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Future Friends';
    src: url('/assets/fonts/FutureFriends.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}