
div.w3-modal {
    position: fixed;
    z-index: 7;
}
/* The Modal (background) */
.modal {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 43.75rem;
    height: 31.25rem;
    margin-top: 2.188rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #0a0a0a;
    background-color: #262424;
    z-index: 2; 
}
  
/* The Close Button */
.close {
    cursor: pointer;
    color: #aaaaaa;
    margin-right: 1.5rem;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes movetext2 {
    from {margin-top: -56.25rem;}
    to {margin-top: -18.75rem;}
}

@keyframes movetext1 {
   from {margin-top: -56.25rem;}
    to {margin-top: -23.438rem;}
}

h1.w3-text-create-popup {
    text-align: center;
    position: fixed;
    color: white;
    margin-top: -18.75rem;
    margin-left: 0rem;
    font-family: 'Frijole';
    transition: 1000ms;
}
  
div.w3-container-signup {
   position: absolute;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
   width: 43.75rem;
   height: 31.25rem;
   margin-top: 2.188rem;
   box-shadow: 0.5rem 0.5rem 0.5rem #0a0a0a;
   background-color: #262424;
   z-index: 2;
}

div.w3-container-signup-popup {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 43.75rem;
    height: 31.25rem;
    margin-top: 2.188rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #0a0a0a;
    background-color: #262424;
    animation: movesignup 1.5s normal;
    z-index: 3;
 }

@keyframes movesignup {
    from {margin-top: 43.75rem;}
    to {margin-top: 2.188rem;}
}

div.w3-container-login {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0.625rem 0.625rem;
    width: 31.25rem;
    height: 31.25rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #141414;
    background-color: #262424;
    z-index: 2;
}

div.w3-container-pagesbar {
    margin-top: -60.625rem;
    position: fixed;
    border-radius: 2rem 2rem 2rem 2rem;
    width: 100%;
    height: 3.75rem;
    background-color: #232222;
    box-shadow: 2rem 5rem 2rem #141414;
}

div.community-main {
    margin-left: 17.5%;
    max-width: 120rem;
    min-width: 20rem;
    position: absolute;
    width: 65%;
    height: 150%;
    background-color: #1a1a1a;
    z-index: 0;
}

div.w3-conatiner-communityMainbar {
    background-color: #262424;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
    height: 75px;
    box-shadow: 2px 2px 2px 2px #0a0a0a;
}

div.w3-container-communitypages {
    overflow: hidden;
    width: 25%;
    height: 100%;
    float: left;
    background-color: #232222;
}

div.w3-container-communitypages:hover div.w3-text-pages {
    opacity: 1;
    transform: scale(1.1);
}

div.w3-container-communitypages:hover {
    cursor: pointer;
    background-color: #141414;
}

div.w3-container-post {
    width: 60%; 
    margin-top: 5rem;
    height: 7.5rem;
    background-color: #262424;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: #444444;
    border-style: solid;
    border-width: 0.5px;
    font-family: 'Nunito';
    justify-items: center;
    text-align: center;
    font-size: 25px;
}

div.w3-container-leftsome {
    height: 75rem;
    max-width: 30rem;
    min-width: 12rem;
    width: 17.5%;
    margin-top: 8rem;
    z-index: 1;
    overflow: hidden;
}

div.w3-container-gamedemo {
    float: left;
    position: relative;
    border-radius: 2rem 2rem 2rem 2rem;
    width: 37.5rem;
    margin-top: 1.875rem;
    margin-left: 4.375rem;
    height: 21.875rem;
    box-shadow:0.5rem 0.5rem 0.5rem #3c7603;
    background-color: #232222;
    animation-iteration-count: infinite;
    z-index: 2;
}

p.w3-text-gamepromo {
    text-shadow: 2px 2px #3c7603;
    font-size: 1.3rem;
    color: #ffffff;
    margin-top: 0.7rem;
}

p.w3-text-gameprice {
    text-shadow:2px 2px #262424;
    font-size: 1.2rem;
    color: #69d300;
    margin-left: 2rem;
    margin-top: 0.05rem;
}

p.w3-text-gamename {
    text-shadow:2px 2px #262424;
    font-size: 1.2rem;
    color: #ffffff;
    margin-left: 2rem;
    margin-top: 0.05rem;
    transition: 200ms;
}

p.w3-text-gamename:hover {
    cursor: pointer;
    color: #69d300;
}

div.w3-container-details {
    font-family: 'Frijole';
    height: 4.688rem;
    margin-top: 8.4.688rem;
    width: 100%;
    transition: 43.75ms;
    box-shadow: #232222;
    background-color: #444444;
    z-index: 5;
}

div.w3-container-price {
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
    font-family: 'Frijole';
    margin-left: 8rem;
    height: 65%;
    margin-top: 8.4.688rem;
    width: 50%;
    transition: 43.75ms;
    box-shadow: 2px 2px 2px 2px #232222;
    background-color: #696969;
    z-index: 5;
}

div.w3-container-promo {
    font-family: 'Frijole';
    height: 95%;
    margin-top: 8.4.688rem;
    width: 25%;
    transition: 43.75ms;
    background-color: #69d300;
    box-shadow: 2px 0px 2px 2px #232222;
    z-index: 5;
}

div.w3-container-gamedemo:hover {
    cursor:not-allowed;
    box-shadow:0.5rem 0.5rem 0.5rem #a61515;
    animation: shake 0.5s;
    z-index: 3;
}

div.w3-container-gamedemo2 {
    float: left;
    position: relative;
    border-radius: 2rem 2rem 2rem 2rem;
    width: 37.5rem;
    margin-top: 1.875rem;
    margin-left: 4.375rem;
    height: 21.875rem;
    box-shadow:0.5rem 0.5rem 0.5rem #3c7603;
    background-color: #232222;
    transition: 300ms;
    z-index: 2;
}

div.w3-container-gamedemo2:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img.w3-image-game {
   max-width: 37.5rem;
   height: 21.875rem;
   transition: .5s ease;
  backface-visibility: hidden;
}

img.w3-image-game2 {
    max-width: 37.5rem;
    height: 21.875rem;
    transition: .5s ease;
}

button.w3-button-post {
    background-color: #262424;
    color: #ffffff;
    border: none;
    margin-right: 1rem;
    z-index: 3;
}

button.w3-button-post:hover {
    cursor: pointer;
    transform: scale(1.05);
}